.searchResultsImage {
	float:left;
	display:inline-block;
	height:100px;
	margin-bottom:35px;
}

.searchResultsText {
	float:left;
	display:inline-block;
	width:600px;
}

.searchResultsItem {
	width:700px;
	clear:both;
}

.searchResultsItem h1 {
	padding:0px;
	margin:0px;
}

.searchResultsItem p {
	padding:0px;
	margin:0px;
}

#resultsContainer {
	float:left;
	display:inline-block;
}

#searchContainer {
	float:left;
	display:inline-block;
}